.research_question p {
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.searchjobs2 {
    border: 1px solid #22D66E;
    border-radius: 50px;
    background-color: #F5F5F5;
    margin: 20px 0;
    width: 40%;
    padding: 20px;
}