header {
    background-color: #024766;
    height: 100px;
}

header nav ul li {
    background-color: #22D66E;
    display: inline-block;
    width: 16%;
    height: 40px;
    border-radius: 50px;
    margin-left: 13%;
    margin-top: 30px;
    text-align: center;
    transition: 0.5s;
}

header nav ul li:hover {
    background-color: rgba(34, 214, 109, 0.400);
}

header nav ul li a {
    color: #fff;
    font-size: 2em;
}