#homePage h2 {
    font-size: 3vw;
    text-align: center;
    padding: 40px 0;
}

#homePage h2 span {
    color: #22D66E;
}

#homePage .info {
    background-color: #024766;
    display: flex;
}

#homePage .flex1 {
    width: 60%;
}


#homePage .info h3 {
    font-size: 2.4vw;
    padding: 40px 0;
    color: #fff;
    padding-left: 5%;
    display: inline-block;
}

#homePage .info h3 span {
    color: #22D66E;  
}

#homePage .info .gouv {
    background-color: #22D66E;
    width: 40%;
    height: 40px;
    text-align: center;
    border-radius: 50px;  
    margin: 60px 20%;
}

#homePage .info .gouv a {
    color: #fff;
    font-size: 2vw;
} 