#homePage h2 {
    font-size: 3em;
    text-align: center;
    padding: 60px 0;
}

#homePage span {
    color: #22D66E;
}

#homePage .acroche {
    text-align: center;
    font-size: 1.4em;
    padding: 50px 20%;
}

#homePage .info {
    background-color: #024766;
    display: flex;
    margin: 80px 0;
}

#homePage .flex1 {
    width: 60%;
}


#homePage .info h3 {
    font-size: 2em;
    padding: 40px 0;
    color: #fff;
    padding-left: 5%;
    display: inline-block;
}

#homePage .info h3 span {
    color: #22D66E;  
}

#homePage .info .gouv {
    background-color: #22D66E;
    width: 40%;
    height: 40px;
    text-align: center;
    border-radius: 50px;  
    margin: 60px 20%;
    transition: 0.5s;
}

#homePage .info .gouv:hover {
    background-color: rgba(34, 214, 109, 0.400);
}

#homePage .info .gouv a {
    color: #fff;
    font-size: 2em;
} 



.garde {
    display: flex;
}

.flex2 {
    width: 50%;
    padding-left: 15%;
}

.flex2 img {
    width: 300px;
}

.garde .gardeEnfant {
    width: 50%;
    padding: 130px 0 0 15%;
}

.garde .gardeEnfant a {
    background-color: #024766;
    padding: 20px 30px;
    border-radius: 50px;
    color: #22D66E;
    border: solid 2px #024766;
    transition: 0.5s;
}

.garde .gardeEnfant a:hover {
    background-color: #fff;
    border: solid 2px #024766;
}


.gardien {
    display: flex;
}

.flex3 {
    width: 50%;
    padding-left: 10%;
}

.flex3 img {
    width: 300px;
}

.gardien .garderEnfant {
    width: 50%;
    padding: 120px 0 0 20%;
}

.gardien .garderEnfant a {
    background-color: #024766;
    padding: 20px 30px;
    border-radius: 50px;
    color: #22D66E;
    border: solid 2px #024766;
    transition: 0.5s;
}

.gardien .garderEnfant a:hover {
    background-color: #fff;
    border: solid 2px #024766;
}
